<div class="message_container">
  <div class="message">
    <div id="well_done">WELL <span></span> DONE</div>
    <div id="completed_in"><b> <%= @level.start.upcase %> </b> to <span id="path_length"><%= @level.target.upcase %></span> </div>
    <%= render 'history_all' %>
    <%= render 'achievement' %>
    <div class="next_level_btn_container">
      <% if @level.id == 9999 %> <%# zen %>
        <%= link_to "New Level", loading_level_path('zen') , class:"btn btn_custom next_level", remote: true %>
      <% elsif @level.id % 10 != 0 %>
        <%= link_to "Next Level", level_path(@level.id + 1) , class:"btn btn_custom next_level", remote: true %>
        <%= link_to "Play Again?", reset_level_path(@level) , class:"play_again_link", remote: true %>
      <% elsif @level.id != 50 %>
        <div class="chapter_complete">Chapter Complete!</div>

        <% if @zen_unlocked %>
          <div>Zen Mode Unlocked!</div>
        <% end %>

        <%= link_to "Next Chapter", levels_path , class:"btn btn_custom next_level", remote: true %>
         <%= link_to "Play Again?", reset_level_path(@level) , class:"play_again_link", remote: true %>
      <% else %>
        <div class="congrats">Congratulations!<div>
        <div class="congrats_message">You have completed all levels!</div>
         <%= link_to "Replay?", levels_path , class:"btn btn_custom next_level", remote: true %>
      <% end %>
    </div>

    <div id="message_footer_orb">
      <div class="orb_eyes message_footer_orb_eyes">
        <div class="orb_eye orb_eye_left"></div>
        <div class="orb_eye orb_eye_right"></div>
      </div>
      <div class="blush blush_left"></div>
      <div class="blush blush_right"></div>
    </div>
  </div>
</div>

<% if @show_rate_dialog %>
  <%= render 'rate_dialog_overlay' %>
<% end %>
