<%= render 'theme_skin', level: @level %>

<span class:"hidden" id="level_complete"></span>

<%= render 'start_word' %>
<%= render 'history' %>
<%= render 'curr_word_disabled' %>
<%= render 'limit_count' %>
<%= render 'target_word' %>
<%= render 'completed_message' %>
