<div class="reset">
  <%= link_to reset_level_path(level_id_or_zen), remote: true do %>
    <span class="glyphicon glyphicon-refresh"></span>
  <% end %>

  <div class="options_btn" data-toggle='modal' data-target="#options_overlay">
    <span class="glyphicon glyphicon-th-large"></span>
  </div>
</div>


<div id="options_overlay" class="modal fade" role="dialog">
  <%= render 'options_overlay' %>
</div>

<div id="hints_overlay" class="modal fade" role="dialog">
  <%= render 'hints_overlay' %>
</div>

<% if @level.id == 9999  %>
  <%= link_to "Skip Level?", skip_zen_level_level_path('zen'), remote: true, class:"hidden", id:"hidden_skip_level_btn" %>
  <%= link_to "Skip Level?", skip_zen_level_level_path('zen', skip_interstitial: 'true'), remote: true, class:"hidden", id:"hidden_skip_level_btn_for_video" %>
<% else %>
  <%= link_to 'get_hints', get_hints_level_path(@level.id), remote: true, class: "hidden hints_related", id:"hidden_get_hints_btn_for_video" %>
<% end %>
