<div class="reset">
  <%= link_to reset_level_path(level_id_or_zen), remote: true do %>
    <span class="glyphicon glyphicon-refresh"></span>
  <% end %>

  <div class="options_btn" data-toggle='modal' data-target="#options_overlay">
    <span class="glyphicon glyphicon-th-large"></span>
  </div>
</div>


<div id="options_overlay" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <div class="options_container">
          <span data-dismiss="modal" class="glyphicon glyphicon-remove close_options"></span>
          <div class="music_row">
            Music
            <%= render 'music_btn' %>
          </div>

          <% if @level.id != 9999  %>
            <div><%=link_to "Select Level", levels_path(chapter: (@level.id / 10) + 1), remote: true, class:  "select_level_btn" %></div>
          <% else %>
            <div><%=link_to "Back to Menu", root_path, remote: true, class:  "select_level_btn" %></div>
            <div><%= link_to "Skip level?", skip_zen_level_level_path('zen'), remote: true, class:  "skip_level_btn" %></div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>

