<!DOCTYPE html>
<html>
  <head>
    <title>WORD LINK</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= audio_tag('air.mp3', autoplay:true, controls: false, loop: true, preload: 'auto') %>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>